<div class="catalogue">
  
  <!--Aquí empieza el título (TOLUCX)-->
  <div class="catalogue-title">
    <div class="catalogue-subtitle">
      <img class="catalogue-img-2" src="./../../../../assets/service-sliders/flecha-grande 2.png">
      <h2 class="subtitle-text">CATÁLOGO</h2>
      <img class="catalogue-img-1" src="./../../../../assets/service-sliders/flecha-grande 1.png">
    </div>
  </div>
    <!--Aquí termina el título (TOLUCX) -->


  <div class="catalogue-slider">
    <swiper [slidesPerView]="4" [centeredSlides]="true" [spaceBetween]="10" [loop]="true" [pagination]="{
      clickable: true
      }" class="mySwiper">
      <ng-template swiperSlide>
        <img src="./../../../../assets/catalogue/product-1.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/catalogue/product-2.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/catalogue/product-3.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/catalogue/product-4.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/catalogue/product-5.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/catalogue/product-6.png" alt="">
      </ng-template>
    </swiper>

    <div class="catalogue-responsive">
      <img src="./../../../../assets/catalogue/product-1.png" alt="">
      <img src="./../../../../assets/catalogue/product-2.png" alt="">
      <img src="./../../../../assets/catalogue/product-3.png" alt="">
      <img src="./../../../../assets/catalogue/product-4.png" alt="">
      <img src="./../../../../assets/catalogue/product-5.png" alt="">
      <img src="./../../../../assets/catalogue/product-6.png" alt="">
    </div>

  </div>
</div>
