.catalogue {
  background-color: #1A1A1A;
}

.catalogue-title {
  padding-top:20px;  
  width: 100%;
}

.catalogue-slider {
  width: 90%;
  margin: 0 auto;
  height: 27em;
}

.catalogue-responsive {
  display: none;
}

.catalogue-slider .swiper {
  padding-bottom: 30px;
}


@media (min-width:320px) {
  .catalogue-title  {
    width: 80%;    
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .catalogue-subtitle {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;    
  }

  .catalogue-subtitle h2 {
    text-align: center;
    font-size: 20px !important;
    line-height: 54px;
    transition: all 300ms;    
  }

  .catalogue-subtitle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55px !important;
    transition: all 300ms;
  }
  .swiper {
    display: none;
  }

}

@media (min-width:380px) {
  .catalogue-title  {
    width: 70%;
  }  
  
  .catalogue-subtitle h2 {
    font-size: 22px !important;
    line-height: 54px;
    transition: all 300ms;
  }

}

@media (min-width:470px) {
  .catalogue-title  {
    width: 55%;
  }
  
  .catalogue-subtitle h2{ 
    font-size: 30px !important;
  }
}

@media (min-width:600px) {
  .catalogue-title  {
    width: 48%;
  }
}

@media (min-width:750px) {
  .catalogue-title { 
    width: 48%;
  }
  
  .catalogue-subtitle h2{ 
    font-size: 35px !important;
  }
}

@media (min-width:801px) { 
  .catalogue-title { 
    width: 38%;
  }
}

@media (min-width:901px) { 
  .catalogue-title { 
    width: 40%;
  }
  

}
@media (min-width:1025px) { 
  .catalogue-title { 
    width: 35%;
  }
}
@media (min-width:1281px) { 
  .catalogue-title { 
    width: 30%;
  }
}
