<div class="social">
    <div class="social-title">
        <div class="social-subtitle">
            <img  src="./../../../../assets/service-sliders/flecha-grande 2.png">
            <h2 class="social-head">REDES SOCIALES</h2>
            <img src="./../../../../assets/service-sliders/flecha-grande 1.png">
        </div>
    </div>
    <div class="social-redes">
        <div class="social-wp">
            <i class="fab fa-whatsapp"></i>
            <h3>Whatsapp</h3>
            <p>951-393-53-66</p>
        </div>
        <div class="social-fb">
            <i class="fab fa-facebook-f"></i>
            <h3>Facebook</h3>
            <p>BarberiaLaMarash</p>
        </div>
        <div class="social-ig">
            <i class="fab fa-instagram"></i>
            <h3>Instagram</h3>
            <p>@BarberiaLaMarash</p>
        </div>
    </div>
    
</div>

