.navbar {
  background-color: #1A1A1A !important;
}

.navbar .logo img {
  margin-left: 3%;
  margin-top: -1%;
  position: absolute;
  width: 12%;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav li {
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-nav li a {
  color: #E4B41C;
  font-family: 'Rasa', serif;
  font-size: 20px;
}

.navbar .icons {
  margin-left: 10%;
}

.navbar .icons .signe p{
  font-family: Lohit Devanagari;
  font-style: normal;
  font-weight: normal;
  font-size: 18.2807px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color:#A90404;
  color: #fff;
  text-shadow: 2px 2px 4px #A90404;
}
