.intro {
  background-color: #1A1A1A;
}

.intro-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro-content .intro-cards {
}

.intro-cards .swiper {
  width: 350px;
}

.intro-cards .swiper  img {
  width: 350px;
}

.intro-text{
  color: white;
  display: block;
  margin-left: 7%;
  margin-right: auto;
  margin-top: 30px;
}

.intro-text h2{
  font-family: Maitree;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.intro-text p{
  font-family: Maitree;
  font-size: 25px;
  line-height: 50px;
  margin-top: 50px;
}

.intro-text p span{
  color: #E4B41C;
}


