<div class="intro">

  <div class="intro-content">
    <div class="intro-cards">
      <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>

      </swiper>
    </div>


    <!--================================== By: Daniel Valdez ==========================================-->
    <div class="intro-text">
      <h2>This</h2>
    </div>
  </div>
</div>
