<div class="intro">

  <div class="intro-content">
    <div class="intro-cards">
      <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>

      </swiper>
    </div>


    <!--================================== By: Daniel Valdez ==========================================-->
    <div class="intro-text">
        <h2>NUESTROS CLIENTES</h2>   
        <p>
          Creamos una <span>conexión</span> con nuestros clientes, <br>
          brindamos una <span>atención</span> de principio a fin <br>
          para que siempre regresen felices a casa. Lo más <br>
          importante es la <span>calidad</span> de nuestro servicio.
        </p>
    </div>  

    <div class="intro-cards2">
      <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="./../../../../assets/intro-cards/card-1.png" alt="">
        </ng-template>
      </swiper>
    </div>
    
  </div>
</div>
