<div class="slider-service">
  <div class="slider-title">
    <div class="slider-subtitle">
      <img src="./../../../../assets/service-sliders/flecha-grande 2.png">
      <h2 class="subtitle-text">SERVICIOS</h2>
      <img src="./../../../../assets/service-sliders/flecha-grande 1.png">
    </div>
  </div>

  <div class="services">
    <swiper [slidesPerView]="4" [centeredSlides]="true" [spaceBetween]="10" [loop]="true" [pagination]="{
      clickable: true
      }" class="mySwiper">
      <ng-template swiperSlide>
        <img src="./../../../../assets/service-sliders/card-1.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/service-sliders/card-2.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/service-sliders/card-3.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/service-sliders/card-4.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/service-sliders/card-5.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../assets/service-sliders/card-6.png" alt="">
      </ng-template>
    </swiper>

    <div class="cards-responsive">
      <img src="./../../../../assets/service-sliders/card-1.png" alt="">
      <img src="./../../../../assets/service-sliders/card-2.png" alt="">
      <img src="./../../../../assets/service-sliders/card-3.png" alt="">
      <img src="./../../../../assets/service-sliders/card-4.png" alt="">
      <img src="./../../../../assets/service-sliders/card-5.png" alt="">
      <img src="./../../../../assets/service-sliders/card-6.png" alt="">
    </div>

  </div>

</div>
