.slider-service {
  background-color: #1A1A1A;
}

.slider-title {
  padding-top:20px;
}

.slider-title-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  width: 50%;
  margin: 0 auto;
}

.slider-title-content img:first-child {
  padding-left: 60%;
}

.slider-title-content h2 {
  text-align: center;
  line-height: 60px;
}

.services {
  width: 100%;
}


.swiper {
  width: 90%;
  height: 300px;
}

.swiper img {
  width: 90%;
}

