<div class="slider-service">
  <div class="slider-title">
    <div class="subtitle">
      <img src="./../../../../assets/service-sliders/flecha-grande 2.png">
      <h2 class="subtitle-text">SERVICIOS</h2>
      <img src="./../../../../assets/service-sliders/flecha-grande 1.png">
    </div>
  </div>

  <div class="services">
    <swiper [slidesPerView]="4" [spaceBetween]="10" [centeredSlides]="true" [pagination]="{
      clickable: true
    }" class="mySwiper">
  <ng-template swiperSlide>
    <img src="./../../../../assets/service-sliders/card-1.png" alt="">
  </ng-template>
  <ng-template swiperSlide>
    <img src="./../../../../assets/service-sliders/card-2.png" alt="">
  </ng-template>
  <ng-template swiperSlide>
    <img src="./../../../../assets/service-sliders/card-3.png" alt="">
  </ng-template>
  <ng-template swiperSlide>
    <img src="./../../../../assets/service-sliders/card-4.png" alt="">
  </ng-template>
  <ng-template swiperSlide>
    <img src="./../../../../assets/service-sliders/card-5.png" alt="">
  </ng-template>
  <ng-template swiperSlide>
    <img src="./../../../../assets/service-sliders/card-6.png" alt="">
  </ng-template>



</swiper>
  </div>

</div>


