<div class="reserva">
    <div class="reserva-title">
        <div class="reserva-subtitle">
            <img  src="./../../../../assets/service-sliders/flecha-grande 2.png">
            <h2 class="subtitle-text">RESERVA CON NOSOTROS</h2>
            <img src="./../../../../assets/service-sliders/flecha-grande 1.png">
        </div>
    </div>

    <div class="reserva-texto">
        <p>
            <span>Reserva</span> por medio de nuestro chat empresarial y agenda con nosotros día 
            en específico, también puedes <span>cotizar</span> y preguntar por alguno de nuestros
            otros <span>servicios</span>.
        </p>
        <div class="reserva-button">
            <div class="button">
                <i class="fab fa-whatsapp"></i>
                Whatsapp
            </div>
        </div>
    </div>

   
</div>