.footer-main{
    background-color: #D4CAB0;  
    width: 100%;  
}

.footer-main .logo-marash{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-main .logo-marash:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms;
}

.footer-main .logo-marash:not(:hover){
    transition: all 300ms;
}
.footer-main .linea{    
    display: block;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 20%;
    height: 70px;    
}

.footer-main .footer-inferior{
    display: grid;
    grid-template-columns: 44.5% 30%;
}

.footer-main .footer-inferior .redes-sociales{
    color: black;
    display: grid;
    font-size: 35px;
    grid-template-columns: 30% 30% 30%; 
    height: 30px;
    margin-top: 10px;    
    text-align: center;            
    width: 40%;  
}

.footer-main .footer-inferior .redes-sociales .fa-whatsapp:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms;
    color: green;
}

.footer-main .footer-inferior .redes-sociales .fa-whatsapp:not(:hover){
    transition: all 300ms;
}

.footer-main .footer-inferior .redes-sociales .fa-facebook:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms;
}

.footer-main .footer-inferior .redes-sociales .fa-facebook:not(:hover){
    transition: all 300ms;
    color: black;
}

.footer-main .footer-inferior .redes-sociales .fa-instagram:hover{
    cursor: pointer;
    color: #c71257;
    transform: scale(1.1);
    transition: all 300ms;
}

.footer-main .footer-inferior .redes-sociales .fa-instagram:not(:hover){
    transition: all 300ms;
}

.footer-main .footer-inferior .info-pagina h3{
    font-weight: bold;
}