<div class="footer-main">
    <img src="assets/footer/logo-marash.png" alt="logo-marash" class="logo-marash">        
    <img src="assets/footer/linea-footer.png" alt="linea-footer" class="linea">
    <div class="footer-inferior">
        <div class="redes-sociales">
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
        </div>    
        <div class="info-pagina">
            <h3>Legal</h3>
            <h4></h4>
            <h3>Privacidad</h3>
            <h4></h4>
            <h3>Desarrolladores web:</h3>
            <h4>Miguel Ángel Bermúdez Cruz</h4>
            <h4>Carlos Daniel Valdez Martínez</h4>
        </div>
    </div>
    
</div>
