.footer{
    background-color: #1a1a1a;  
    height: 260px;
    padding-top: 40px;
}

.footer-main{    
    display: grid;
    grid-template-columns: 33% 33% 33%;    
}

.footer-main .titulo{
    color: white;
    font-family: Maitree;
    font-size: 22px;
    text-align: center;
    margin-top: 18%;
}

.footer-main .titulo img{
    padding-right: 10px;
}

.footer-main .titulo p{
    color: #E4B41C;
}

.footer-main .logo-marash{
    display: block;
    padding-top: 10px;    
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.footer-main .logo-marash:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms;
}

.footer-main .logo-marash:not(:hover){
    transition: all 300ms;
}

.footer-main .redes-sociales{
    color: white;
    display: block;    
    font-size: 35px;    
    height: 30px;
    margin-left: auto;    
    margin-top: 18%;     
    margin-right: auto;
    text-align: center;
    width: 40%;  
}

.footer-main .redes-sociales .caja-redes{
    display: grid;
    grid-template-columns: 33% 33% 33%; 
}


.footer-main .redes-sociales .fa-whatsapp:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms;
    color: green;
}

.footer-main .redes-sociales .fa-whatsapp:not(:hover){
    transition: all 300ms;
}

.footer-main .redes-sociales .fa-facebook:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms;    
}

.footer-main .redes-sociales .fa-facebook:not(:hover){
    transition: all 300ms;
    color: white;
}

.footer-main .redes-sociales .fa-instagram:hover{
    cursor: pointer;
    color: #c71257;
    transform: scale(1.1);
    transition: all 300ms;
}

.footer-main .redes-sociales .fa-instagram:not(:hover){
    transition: all 300ms;
}

.info-pagina{
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-pagina .specs{
    margin-left: 20px;
}

.info-pagina .specs h3{
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: bold;    
    margin-bottom: 0px;
}

.info-pagina .dev-team{
    color: white;
    font-family: Maitree;
    font-size: 22px;
    margin-left: 72%;
    margin-top: 10px;
}

.info-pagina .dev-team span{
    margin-left: 10px;
}


