<div class="objective">
    <div class="objective-title">
        <div class="objective-subtitle">
            <img  src="./../../../../assets/service-sliders/flecha-grande 2.png">
            <h2 class="objective-head">NUESTRA FILOSOFÍA</h2>
            <img src="./../../../../assets/service-sliders/flecha-grande 1.png">
        </div>
    </div>    
    <div class="objective-text">
        <img src="./../../../../assets/objective/linea_1.png" alt="linea_1">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 
            1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries, but also
            the leap into electronic typesetting.
        </p>
        <img src="./../../../../assets/objective/linea_2.png" alt="linea_1">
    </div>    
</div>
