<div class="ubication">
    <div class="ubication-title">
        <div class="ubication-subtitle">
            <img  src="./../../../../assets/service-sliders/flecha-grande 2.png">
            <h2 class="ubication-head">UBICACIÓN</h2>
            <img src="./../../../../assets/service-sliders/flecha-grande 1.png">
        </div>        
    </div>
    <p class="ubication-text"> Villa Sola de Vega, Oax. Col. Centro. Calle Guadalupe Victoria #231 | 951</p>
    <div class="ubication-map">
        <div style="width: 100%">
            <iframe width="100%" height="600" frameborder="0" 
            scrolling="no" marginheight="0" marginwidth="0" 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1912.591302224033!2d-96.97803276983642!3d16.51687639997132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDMxJzAyLjEiTiA5NsKwNTgnNDMuMiJX!5e0!3m2!1ses-419!2smx!4v1636130665187!5m2!1ses-419!2smx">
            <a href="https://www.mapsdirections.info/marcar-radio-circulo-mapa/"></a></iframe>
        </div>
    </div>    
</div>