/* You can add global styles to this file, and also import other style files */

.subtitle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  width: 50%;
  margin: 0 auto;
}

.subtitle img:first-child {
  padding-left: 60%;
}

.subtitle h2 {
  text-align: center;
  line-height: 64px;
}

.subtitle-text {
  color: #fff;
  font-family: 'Maitree', serif !important;
  font-size: 35px !important;
  font-weight: 400 !important;
}

.mat-expansion-panel-body {
  background-color: rgb(224, 224, 224);
  box-shadow: 1px 1px 5px #1a1a1a inset;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --swiper-theme-color: #E4B41C;
}

.swiper-pagination-bullet {
  background: #E4B41C;
}

.swiper-wrapper {
  background: none;
}

.swiper-slide {
  background: none !important;
}

