<div class="footer">
    <div class="footer-main">
        <div class="titulo">
            <img src="assets/footer/copy.png" alt="logo-copy">
            <span>LA MARASH</span>
            <P>2021</P>
        </div>

        <img src="assets/footer/logo-marash-bn.png" alt="logo-marash" class="logo-marash">
        <div class="redes-sociales">
            <div class="caja-redes">
                <i class="fab fa-whatsapp"></i>
                <a href="https://www.facebook.com/profile.php?id=100068228113973" target="_blank"><i class="fab fa-facebook"></i></a>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
    <div class="info-pagina">
        <div class="specs">
            <a>Legal</a><br>
            <a>Privacidad</a>
        </div>
        <div class="dev-team">
            <img src="assets/footer/copy.png" alt="logo-copy">
            <span>CB Dev Web</span>
        </div>
    </div>
</div>
